<!DOCTYPE html>
<html>
<head>
    <title>Super Awesome TIC TAC TOE!</title>
    <!-- <link href="css/style.css" rel="stylesheet"/> -->
    <style>
    	form {
    		margin-left: auto;
    		margin-right: auto;
    		width: 600px;
    	}

    	button {
    		width: 200px;
    		height: 200px;
    		float: left;
    	}

    	button:nth-child(3n+4) {
    		clear: both;
    	}
    </style>
</head>
<body>

<form class="board">
{% for row in board %}
	{% set outer_loop = loop %}
	{% for item in row %}
		<button class="{{ item }}" id="{{ outer_loop.index }}-{{ loop.index }}"></button>
	{% endfor %}
{% endfor %}
</form>

</body>
</html>